<h2>Welcome!</h2>

<p>This Rails-based site is designed to allow you and your friends to create a role-playing story
together. Create an account (or log back in), create a story, or join a story already made! To ensure
that your story is intruded upon, each story is made with a passcode, so your story stays your own.
Have fun!</p>